.game {
    display : flex;
    width : 100%;
    max-height : 846px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding : 1rem;
}

body {
    margin : 0px;
}

.x {
    color : #62fffc;
}

.o {
    color : #ffa02e;
}