.game {
    display : flex;
    width : 100%;
    max-height : 846px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding : 1rem;
}

body {
    margin : 0px;
}

.opacity {
    opacity: 0.25;
}

#no-opacity {
    opacity : 1;
}

.x, .X {
    color : #62fffc;
}

.o, .O {
    color : #ffa02e;
}